{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seus links</title>

  <link rel="stylesheet" href="{% static 'home/home.css' %}" />
</head>

<body>
  <div class="container-pai">
    <div class="container">
      <div class="surface">
        <h1>Seu gerenciador de links</h1>
        {% if user %}
        <h2>
        Usuário: {{user}}
        </h2>
        {% endif %}
        <h3>Guarde seus links e tenha todos em um só lugar</h3>
        <a href="{% url 'criar_link' %}">Criar novo link</a>
        <br>
        <br>
        {% if messages %}
        <div class="surface">
          {% for message in messages %}
          <p class="message">{{ message }}</p>
          {% endfor %}
        </div>
        <br>
        {% endif %}
        <ul class="links-list">
          {% for link in links %}
          <li class="link-item">
            <a class="link-title" href="{{ link.url }}">{{ link }}</a>
            <span class="link-url">{{ link.url }}</span>
            <form action="{% url 'excluir_link' link.id%}" method="post">
              {% csrf_token %}
              <button type="submit">Excluir</button>
            </form>
          </li>
          {% empty %}
          <p>Você não possui links salvos</p>
          {% endfor %}
        </ul>
        {% if links|length > 1 %}
        <form action="{% url "excluir_links" %}" method="post">
          {% csrf_token %}
          <button type="submit">excluir_links</button>
        </form>
        {% endif %}
      </div>

    </div>
    {% comment %}
    Area de login/cadastro
    {% endcomment %}
    <div class="container surface">
      <form action="{% url "login_view" %}" method="post" class="form">
        {% csrf_token %}
        <h2>Quer deixar seus links guardados ou buscar os que você já guardou?</h2>
        <h3>Digite aqui suas credenciais de acesso ou se cadastre caso seja sua primeira vez</h3>
        <label for="">Seu nome de usuario</label>
        <input type="text" name="username" id="">
        <label for="">Sua senha</label>
        <input type="password" name="password" id="">
        <button type="submit">Buscar meus links</button>
        <a href="{% url "create_user" %}">Me cadastrar</a>
      </form>
    </div>
  </div>
  </div>
  </div>
</body>

</html>